h1{
    background-color: aqua;
    height: 80px;
    margin-top: 10px;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 5px;
}
.d1{
    display: flex;
   justify-content: space-around;
   color: blue;
}
p{
    text-decoration: underline blue;
}
.d2{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    background-color: aqua;
   height: 12cm;
   width: 30%;
}
.d3{
    display: inline-block;

}
.d4{
    display: inline-block;
}
.image{
    position: absolute;
    left:350px ;
     bottom:0px ;
     top: 250px;
  }
  img{
    height: 12cm;
    width:100%;
  }
  h2{
    text-align: center;

  }
  .p1{
    text-decoration: none;
    margin-left: 40px;
    margin-top: 2px;
  }
  h4{
    margin-right: 40px;
  }
  .p2{
   margin: 10px;
   padding: 10px;
  }
